@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1f1f1f;
    color: whitesmoke;
    min-height: 100vh;
}

header h1 {
    text-align: center;
    padding: 27px;
    font-size: 2.5em;
    text-shadow: 1px 1px 1px black;
}

section {
    height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#res {
    font-size: 5em;
    text-shadow: 1px 1px 5px white;
    transition: color 0.3 ease;
}

.verde {
    color: rgb(47, 255, 57);
}

.vermelho {
    color: rgb(245, 39, 39);
}

section .botoes input{
    border: none;
    background-color: #3a3939;
    color: white;
    margin: 20px;
    width: 60px;
    height: 60px;
    font-size: 3em;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.637);
}


section input:hover {
    transform: scale(1.1);
}

section input:active {
    transform: scale(1.0);
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.637);
}

input#zer {
    border: none;
    background-color: #3a3939;
    color: white;
    margin: 20px;
    width: 150px;
    height: 60px;
    padding-bottom: 5px;
    font-size: 3em;
    border-radius: 50px;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.637);
}

