@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-azul-principal: #2F6FB0;
    --cor-azul-secundaria: #255A8C;
    --cor-fundo-principal: #ffffff;
    --cor-fundo-pagina: #F2F2F2;
    --cor-texto-principal: #333333;
    --cor-caixas: #b1b7c1;
}

body.escuro {
    --cor-azul-principal: #ff5522;
    --cor-azul-secundaria: #a73917;
    --cor-fundo-principal: #222222;
    --cor-fundo-pagina: #333333;
    --cor-texto-principal: #ffffff;
    --cor-caixas: #b1b7c1;
}

body {
    padding: 40px;
    background-color: var(--cor-fundo-pagina);
    color: var(--cor-texto-principal);
}

header h1 {
    background-color: var(--cor-azul-principal);
    color: var(--cor-fundo-principal);
    text-align: center;
    padding: 40px;
    border-radius: 8px 8px 0px 0px;
    font-size: 3em;
}

header nav {
    background-color: var(--cor-fundo-principal);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 0px rgba(128, 128, 128, 0.192);
    position: relative;
    z-index: 10;
}

header a {
    text-decoration: none;
    color: var(--cor-texto-principal);
    padding-bottom: 20px;
    margin: 20px;
    font-size: 1.3em;
    font-weight: bold;
}

header a:hover {
    color: var(--cor-azul-secundaria);
    box-shadow: 0px 2px 0px var(--cor-azul-secundaria);
}

main {
    background-color: var(--cor-fundo-principal);
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.116);
}

main aside {
    display: flex;
    padding: 30px;
    height: 250px;
    box-shadow: 0px 2px 0px rgba(128, 128, 128, 0.192);
}

main div#um {
    width: 60%;
    margin-right: 50px;
}

main div#um h2 {
    box-shadow: 0px 2px 0px rgba(128, 128, 128, 0.192);
    padding-bottom: 20px;
    font-size: 2em;
}

main div#um p {
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

main div#um button {
    padding: 10px;
    background-color: var(--cor-azul-principal);
    color: var(--cor-fundo-principal);
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    width: 180px;
}

main div#um button:hover {
    background-color: var(--cor-azul-secundaria);
    cursor: pointer;
}

main div#um button:active {
    transform: scale(0.98);
}

main div#dois {
    width: 40%;
    box-shadow: -2px 0px 0px rgba(128, 128, 128, 0.192);
    padding-left: 30px;
}

main div#dois h2 {
    font-size: 2em;
    padding-bottom: 20px;
}

main div#dois p {
    font-size: 3em;
    text-align: center;
    padding-bottom: 10px;
}

main div#dois button {
    padding: 10px;
    width: 100%;
    color: var(--cor-fundo-principal);
    background-color: var(--cor-azul-principal);
    border: none;
    font-size: 1.2em;
    border-radius: 4px;
}

main div#dois button:hover {
    background-color: var(--cor-azul-secundaria);
    cursor: pointer;
}

main div#dois button:active {
    transform: scale(0.98);
}

section {
    padding: 30px;
    box-shadow: 0px 2px 0px rgba(128, 128, 128, 0.192);;
}

section h2 {
    font-size: 2em;
    padding-bottom: 30px;
}

#container {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.imagem {
    width: 250px;
    height: 150px;
    background-color: var(--cor-caixas);
    color: var(--cor-fundo-principal);
    font-size: 1.2em;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    padding: 30px;
}

article h2 {
    padding-bottom: 20px;
    font-size: 2em;
}

#nome1 {
    display: flex;
    gap: 50px;
    padding-bottom: 20px;
    font-weight: bold;
}

article input#nome {
    width: 400px;
    height: 30px;
}

#msg {
    display: flex;
    gap: 13px;
    font-weight: bold;
}

article input#mensagem {
    width: 400px;
    height: 150px;
}

article button {
    padding: 10px;
    border: none;
    color: var(--cor-fundo-principal);
    background-color: var(--cor-azul-principal);
    border-radius: 4px;
    width: 100px;
    font-size: 1.2em;
    margin-top: 20px;
    margin-left: 101px;
}

article button:hover {
    background-color: var(--cor-azul-secundaria);
    cursor: pointer;
}

article button:active {
    transform: scale(0.98);
}