@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background: linear-gradient(gray, rgb(170, 165, 165));
    min-height: 100vh;
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 70vw;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.493);
}

main > div {
    position: relative;
    background-color: rgb(1, 59, 40);
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.493);
    width: 70vw;
    max-width: 500px;
}

main > div input {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 0px;
}

#logar {
    cursor: pointer;
}

main > div > p {
    color: white;
    min-width: 90%;
}

ul {    
    color: rgb(255, 255, 255);
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

#toggle {
    position: absolute;
    top: 110px;
    left: calc(100% - 60px);
    text-decoration: none;
    color: black;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
