@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(rgb(27, 26, 116), rgb(61, 221, 200));
    min-height: 100vh;
    color: azure;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    text-shadow: 1px 1px 1px black;
}

section {
    padding: 20px;
    display: flex;
    justify-content: center;
}

section > input#add {
    border: none;
    width: 90%;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(116, 235, 219);
    outline-style: none;
    box-shadow: 1px 1px 4px rgb(255, 255, 255);
}

section > input#btn {
    margin-left: 10px;
    border-radius: 8px;
    border: none;
    width: 100px;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.534);
    background-color: rgb(116, 235, 219);
    box-shadow: 1px 1px 4px rgb(255, 255, 255);
    cursor: pointer;
}

section > input#btn:active {
    transform: translateY(1px);
    box-shadow: 0px 0px 2px white;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    list-style: none;
    color: azure;
    font-size: 1.2em;
    padding: 8px;
    background-color: rgb(73, 191, 212);
    box-shadow: 1px 1px 4px rgb(255, 255, 255);
    border-radius: 8px;
    margin: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.534);

    overflow-wrap: anywhere;
}

li:hover {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: rgb(221, 221, 221);
}

li > button {
    border: none;
    background-color: rgb(73, 191, 212);
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    text-decoration: none;
}
